<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Redirigir a www -->
                <rule name="Redirect to www" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^productstores-e2f2hjhqdcfmdme9\.eastus2-01\.azurewebsites\.net$" />
                    </conditions>
                    <action type="Redirect" url="https://www.productstores-e2f2hjhqdcfmdme9.eastus2-01.azurewebsites.net/{R:0}" redirectType="Permanent" />
                </rule>

                <!-- Redirigir la raíz a pantallas/index.php -->
                <rule name="Redirect root to index.php" stopProcessing="true">
                    <match url="^$" /> <!-- Coincide con la raíz del dominio -->
                    <action type="Redirect" url="/pantallas/index.php" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
