<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="pantallas/index.php" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Redirect to pantallas/index.php" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/pantallas/index.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
